<router-outlet></router-outlet>

<!-- 
<div class="container row">
    <div class="col-md-12">
        <h1>Upload Image</h1>
    </div>
</div>

<div class="container row">
    <div class="col-md-6">
        <input type="file" (change)="onFileChanged($event)">

    </div>
    <div class="col-md-6">
        <input type="button" (click)="onUpload()" value="upload">
    </div>
</div>
<hr />
<div class="container row">
    <div class="col-md-12">
        <div *ngIf=message>{{message}}</div>
    </div>
</div>

<div class="container row">
    <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName" name="name" />
    </div>
    <div class="col-md-6">
        <input type="button" (click)="getImage()" value="Get Image">

    </div>
</div>

<div class="container row">
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage">
        </div>
    </div>
</div> -->


<!-- add on card

<div>Rs. 599</div>
<div *ngIf="count==0" class="btn btn-sm btn-primary" style="width: 100px !important;" (click)="incre()">Add</div>
<div *ngIf="count!=0" class="disable-select">
    <div class="button" (click)="decre()">-</div>
    <div class="button">{{count}}</div>
    <div class="button" (click)="incre()">+</div>
</div>

count=0;

incre(){
  this.count=this.count+1;
}

decre(){
  this.count=this.count-1;
} -->