<div class="card">

    <p-table [value]="chefs" datakey="kemail" editMode="row">
        <ng-template pTemplate="header">
            <tr>
                <th>Sno</th>
                <th>Email</th>
                <th>Name</th>
                <th>Phone</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-chef let-editing="editing" let-i="rowIndex">
            <tr [pEditableRow]="chef">
                <td><b>{{i+1}}</b></td>
                <td>{{chef.kemail}}</td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="chef.kname" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{chef.kname}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="chef.kphone">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{chef.kphone}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">
                    <i *ngIf="!editing" pButton type="button" pInitEditableRow class="text-info fas fa-edit" (click)="onRowEditInit(chef)"></i>
                    <i *ngIf="editing" pButton type="button" pSaveEditableRow class="text-success fas fa-check" style="margin-right: .5em" (click)="onRowEditSave(chef)"></i>
                    <i *ngIf="editing" pButton type="button" pCancelEditableRow class="text-danger fas fa-times" (click)="onRowEditCancel(chef, i)"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>